{% extends 'base.html.twig' %}

{% block title %}Slušaona{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Tražilica</h6>
                </div>
                <div class="ui-block-content">					
                    <form action="{{ path('song_library_home', {pageNum: 1}) }}" method="GET">
                        <div class="row">
                            <div class="col col-md-12 col-sm-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">Unesite pojam koji želite pretražiti...</label>
                                    <input class="form-control" placeholder="" type="text" name="q" value="{{ searchQuery }}">
                                </div>
                            </div>
                    
                            <div class="col col-md-12 col-sm-12">
                                <button class="btn btn-primary btn-lg full-width">Traži</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-md-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">Rezultati ({{ totalSongs }})</h6>
					<a href="#" class="more">
							<span class="c-green">
								<svg class="olymp-remove-playlist-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-remove-playlist-icon"></use></svg>
							</span>
					</a>
				</div>
				
				<ol class="widget w-playlist">
                    {% for song in songs %}
                        
                        <li class="js-open-popup" data-popup-target=".playlist-popup">
                            <div class="playlist-thumb">
                                <img src="{{ song.thumb }}" alt="thumb-composition">
                                <div class="overlay"></div>
                                <a href="#" class="play-icon">
                                    <svg class="olymp-music-play-icon-big">
                                        <use xlink:href="/svg-icons/sprites/icons-music.svg#olymp-music-play-icon-big"></use>
                                    </svg>
                                </a>
                            </div>
                    
                            <div class="composition">
                                <a href="#" class="composition-name">{{ song.title }}</a>
                            </div>
                    
                            <div class="composition-time">
                                <time class="published" datetime="2017-03-24T18:18">{{ song.duration | formatSeconds }}</time>
                                <div class="more">
                                    <svg class="olymp-three-dots-icon">
                                        <use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                    </svg>
                                    <ul class="more-dropdown">
                                        <li>
                                            <a href="#">Add Song to Player</a>
                                        </li>
                                        <li>
                                            <a href="#">Add Playlist to Player</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    
                        </li>
                    {% endfor %}
	
				</ol>
				
			</div>
		</div>
		
	</div>
</div>

{% set _currentRoute = app.request.attributes.get('_route') %}
{% set _currentParams = app.request.query.all %}

{% if lastPage > 1 %}
    <nav>
        <ul class="pagination">
            {% if currentPage > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('song_library_home', _currentParams|merge({pageNum: currentPage - 1})) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for i in 1..lastPage %}
                <li class="page-item {% if i == currentPage %}active{% endif %}">
                    <a class="page-link" href="{{ path('song_library_home', _currentParams|merge({pageNum: i})) }}">{{ i }}</a>
                </li>
            {% endfor %}
            {% if currentPage < lastPage %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('song_library_home', _currentParams|merge({pageNum: currentPage + 1})) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock %}